In [1]:
import pandas as pd

# Load data using relative paths
brands = pd.read_csv('../data/raw/brands.csv')
orderlines = pd.read_csv('../data/raw/orderlines.csv')
orders = pd.read_csv('../data/raw/orders.csv')
products = pd.read_csv('../data/raw/products.csv')

# Create working copies
brands_df = brands.copy()
orderlines_df = orderlines.copy()
orders_df = orders.copy()
products_df = products.copy()

In [2]:
brands_df_copy = brands_df.copy()
orderlines_df_copy = orderlines_df.copy()
orders_df_copy = orders_df.copy()
products_df_copy = products_df.copy()

In [3]:
print(f'Number of rows in brands_df: {len(brands_df)}')
print('Columns in brands_df:')
for column in brands_df.columns:
    print(column)

print(f'Number of duplicates in brands_df: {brands_df.duplicated().sum()}')
print(f'Number of isna in brands_df: {brands_df.isna().sum()}')
brands_df.head()

Number of rows in brands_df: 187
Columns in brands_df:
short
long
Number of duplicates in brands_df: 0
Number of isna in brands_df: short    0
long     0
dtype: int64

  short       long
0   8MO  8Mobility
1   ACM       Acme
2   ADN     Adonit
3   AII      Aiino
4   AKI     Akitio

In [4]:
print(f'Number of duplicates in brands_df short: {brands_df.duplicated(subset=["short"]).sum()}')
print(f'Number of duplicates in brands_df long: {brands_df.duplicated(subset=["long"]).sum()}')
print(brands_df.loc[brands_df.duplicated(subset=["long"], keep=False)])
print(f'Number of isna in brands_df short: {brands_df["short"].isna().sum()}')
print(f'Number of isna in brands_df long: {brands_df["long"].isna().sum()}')
brands_df[brands_df['short'].str.lower().isin(['unknown', 'diverse', 'various', 'error', 'none', 'not specified'])]
brands_df[brands_df['long'].str.lower().isin(['unknown', 'diverse', 'various', 'error', 'none', 'not specified'])]

Number of duplicates in brands_df short: 0
Number of duplicates in brands_df long: 6
    short      long
6     AP2     Apple
7     APP     Apple
17    BOS      Bose
19    CAD      Bose
37    ENV   Unknown
67    JYB   Jaybird
70    KEN   Jaybird
80    LIB   Unknown
94    MOP    Mophie
98    MUJ    Mophie
117   OTR  Startech
153   STA  Startech
Number of isna in brands_df short: 0
Number of isna in brands_df long: 0

   short     long
37   ENV  Unknown
80   LIB  Unknown

In [5]:
print(f'Number of rows in orderlines_df: {len(orderlines_df)}')
print('Columns in orderlines_df:')
for column in orderlines_df.columns:
    print(column)
    
print(f'Number of duplicates in orderlines_df: {orderlines_df.duplicated().sum()}')
print(f'Number of isna in orderlines_df: {orderlines_df.isna().sum()}')
orderlines_df.head()

Number of rows in orderlines_df: 293983
Columns in orderlines_df:
id
id_order
product_id
product_quantity
sku
unit_price
date
Number of duplicates in orderlines_df: 0
Number of isna in orderlines_df: id                  0
id_order            0
product_id          0
product_quantity    0
sku                 0
unit_price          0
date                0
dtype: int64

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38

In [6]:
print(f'Number of rows in orders_df: {len(orders_df)}')
print('Columns in orders_df:')
for column in orders_df.columns:
    print(column)

print(f'Number of duplicates in orders_df: {orders_df.duplicated().sum()}')
print(f'Number of isna in orders_df: {orders_df.isna().sum()}')
orders_df.head()

Number of rows in orders_df: 226909
Columns in orders_df:
order_id
created_date
total_paid
state
Number of duplicates in orders_df: 0
Number of isna in orders_df: order_id        0
created_date    0
total_paid      5
state           0
dtype: int64

   order_id         created_date  total_paid      state
0    241319  2017-01-02 13:35:40       44.99  Cancelled
1    241423  2017-11-06 13:10:02      136.15  Completed
2    242832  2017-12-31 17:40:03       15.76  Completed
3    243330  2017-02-16 10:59:38       84.98  Completed
4    243784  2017-11-24 13:35:19      157.86  Cancelled

In [7]:
print(f'Number of rows in products_df: {len(products_df)}')
print('Columns in products_df:')
for column in products_df.columns:
    print(column)

print(f'Number of duplicates in products_df: {products_df.duplicated().sum()}')
print(f'Number of isna in products_df: {products_df.isna().sum()}')
products_df.head()

Number of rows in products_df: 19326
Columns in products_df:
sku
name
desc
price
promo_price
in_stock
type
Number of duplicates in products_df: 8746
Number of isna in products_df: sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59,589.996,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59,569.898,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25,229.997,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,31.99,1,1364

In [8]:
print(f'Products before deduplication: {len(products_df_copy)}')
products_df_copy = products_df_copy.drop_duplicates(subset=['sku'], keep='first')
print(f'Products after deduplication: {len(products_df_copy)}')

Products before deduplication: 19326
Products after deduplication: 10579

In [9]:
merged_df = products_df_copy.merge(orderlines_df_copy, on='sku', how='inner')
print(len(merged_df))
merged_df = merged_df.drop_duplicates()
print(len(merged_df))
print(merged_df.duplicated().sum())
merged_df.head()

292565
292565
0

,sku,name,desc,price,promo_price,in_stock,type,id,id_order,product_id,product_quantity,unit_price,date
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,1121326,300551,0,1,54.99,2017-01-02 13:34:30
1,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,1133226,304067,0,1,49.99,2017-01-07 09:02:08
2,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,1134280,304484,0,1,49.99,2017-01-07 21:17:55
3,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,1136418,305406,0,1,49.99,2017-01-09 07:45:12
4,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,1136825,305590,0,1,49.99,2017-01-09 11:53:15

In [10]:
products_clean = products_df_copy.drop_duplicates(subset=['sku'], keep='first')

products_clean['brand_code'] = products_clean['sku'].str[:3]
products_brands = products_clean.merge(
    brands_df_copy, 
    left_on='brand_code', 
    right_on='short', 
    how='left' 
)
products_brands = products_brands.drop(columns=['short'])
products_brands = products_brands.rename(columns={'long': 'brand_name'})

print(f'Products with Brands: {len(products_brands)}')

merged_df = products_brands.merge(
    orderlines_df_copy, 
    on='sku', 
    how='inner'
)

print(f'After Orderlines merge: {len(merged_df)}')

final_df = merged_df.merge(
    orders_df_copy,
    left_on='id_order',
    right_on='order_id',
    how='left'  
)

final_df = final_df.drop(columns={'order_id'})

print(f'Final DataFrame rows: {len(final_df)}')
print(f'Columns: {final_df.columns.tolist()}')
final_df.head()

Products with Brands: 10579
After Orderlines merge: 292565
Final DataFrame rows: 292565
Columns: ['sku', 'name', 'desc', 'price', 'promo_price', 'in_stock', 'type', 'brand_code', 'brand_name', 'id', 'id_order', 'product_id', 'product_quantity', 'unit_price', 'date', 'created_date', 'total_paid', 'state']

,sku,name,desc,price,promo_price,in_stock,type,brand_code,brand_name,id,id_order,product_id,product_quantity,unit_price,date,created_date,total_paid,state
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,RAI,Rain Design,1121326,300551,0,1,54.99,2017-01-02 13:34:30,2017-01-02 13:37:16,54.99,Completed
1,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,RAI,Rain Design,1133226,304067,0,1,49.99,2017-01-07 09:02:08,2017-01-07 09:02:08,49.99,Shopping Basket
2,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,RAI,Rain Design,1134280,304484,0,1,49.99,2017-01-07 21:17:55,2017-01-07 21:17:55,49.99,Shopping Basket
3,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,RAI,Rain Design,1136418,305406,0,1,49.99,2017-01-09 07:45:12,2017-01-09 07:43:42,79.98,Shopping Basket
4,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696,RAI,Rain Design,1136825,305590,0,1,49.99,2017-01-09 11:53:15,2017-01-09 11:49:31,629.98,Shopping Basket

In [11]:
print(f'Duplicates in final_df: {final_df.duplicated().sum()}')
print(f'Missing values in final_df:\n{final_df.isna().sum()}')

Duplicates in final_df: 0
Missing values in final_df:
sku                   0
name                  0
desc                 13
price               124
promo_price           0
in_stock              0
type                184
brand_code            0
brand_name          293
id                    0
id_order              0
product_id            0
product_quantity      0
unit_price            0
date                  0
created_date        231
total_paid          237
state               231
dtype: int64

In [12]:
rows_with_nan = final_df[final_df.isna().any(axis=1)]
print(f'Rows with at least one NaN: {len(rows_with_nan)}')
print(f'Out of a total of {len(final_df)} rows = {len(rows_with_nan)/len(final_df)*100:.2f}%')

rows_with_nan

Rows with at least one NaN: 846
Out of a total of 292565 rows = 0.29%

,sku,name,desc,price,promo_price,in_stock,type,brand_code,brand_name,id,id_order,product_id,product_quantity,unit_price,date,created_date,total_paid,state
902,APP0206,60W MagSafe charger Apple MacBook and MacBook ...,Charger MacBook and 13 inch MacBook MagSafe 60...,89,849.904,1,13005399,APP,Apple,1218496,273216,0,1,89.00,2017-04-01 10:36:32,NaN,NaN,NaN
1256,OND0069,Adapter mini DVI to HDMI,Adapter mini DVI to HDMI for Mac and PC,16.49,149.895,0,1325,OND,NaN,1198919,332490,0,1,14.99,2017-03-06 11:08:07,2017-03-06 11:08:07,14.99,Shopping Basket
1257,OND0069,Adapter mini DVI to HDMI,Adapter mini DVI to HDMI for Mac and PC,16.49,149.895,0,1325,OND,NaN,1200393,333113,0,1,14.99,2017-03-07 23:12:12,2017-03-07 23:12:12,14.99,Shopping Basket
1258,OND0069,Adapter mini DVI to HDMI,Adapter mini DVI to HDMI for Mac and PC,16.49,149.895,0,1325,OND,NaN,1203867,334650,0,1,14.99,2017-03-13 14:56:33,2017-03-13 14:59:36,21.98,Pending
1273,OND0073,Mini DisplayPort to HDMI Cable 18m,Cable with Mini DisplayPort to HDMI (audio + v...,22.99,169.896,0,1325,OND,NaN,1206965,336156,0,1,16.99,2017-03-17 10:47:20,2017-03-17 10:47:20,16.99,Shopping Basket
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289693,UBI0008,Ubiquiti Amplifi Wi-Fi Mesh Router,Smart Wi-Fi Router high density Mesh technology,1.299.891,1.299.891,0,1334,UBI,NaN,1645929,525349,0,1,129.99,2018-03-11 09:48:38,2018-03-11 09:48:38,129.99,Place Order
289694,UBI0008,Ubiquiti Amplifi Wi-Fi Mesh Router,Smart Wi-Fi Router high density Mesh technology,1.299.891,1.299.891,0,1334,UBI,NaN,1646022,525396,0,1,129.99,2018-03-11 12:10:42,2018-03-11 12:10:42,133.98,Place Order
289695,UBI0008,Ubiquiti Amplifi Wi-Fi Mesh Router,Smart Wi-Fi Router high density Mesh technology,1.299.891,1.299.891,0,1334,UBI,NaN,1646027,525398,0,1,129.99,2018-03-11 12:22:04,2018-03-11 12:24:47,133.98,Pending
289715,RIN0015,Video surveillance camera Floodlight Ring with...,Surveillance camera with face detection alarm ...,299,2.989.995,0,9094,RIN,NaN,1625518,516722,0,1,299.00,2018-02-24 05:18:30,2018-02-24 05:18:30,358.00,Shopping Basket
289716,RIN0016,Video surveillance camera Floodlight Ring with...,Surveillance camera with face detection alarm ...,299,2.989.995,0,9094,RIN,NaN,1625520,516723,0,1,299.00,2018-02-24 05:20:20,2018-02-24 05:20:20,358.00,Shopping Basket

In [13]:
final_df = final_df.dropna()
print(f'Final DataFrame after dropping NaNs: {len(final_df)}')
final_df.to_csv('../data/processed/merged_df_cleaned.csv', index=False)

Final DataFrame after dropping NaNs: 291719