In [1]:
import pandas as pd

# Load data using relative paths
brands = pd.read_csv('../data/raw/brands.csv')
orderlines = pd.read_csv('../data/raw/orderlines.csv')
orders = pd.read_csv('../data/raw/orders.csv')
products = pd.read_csv('../data/raw/products.csv')

# Create working copies
brands_df = brands.copy()
orderlines_df = orderlines.copy()
orders_df = orders.copy()
products_df = products.copy()

In [2]:
products_df_copy = products_df.copy()

In [3]:
merged_df = products_df_copy.merge(orderlines_df, on='sku')
merged_df = merged_df.loc[:,['sku', 'name', 'desc', 'price', 'promo_price', 'unit_price']]
merged_df.info()
merged_df.head()
merged_df = merged_df.drop_duplicates()
merged_df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378397 entries, 0 to 378396
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   sku          378397 non-null  object
 1   name         378397 non-null  object
 2   desc         378384 non-null  object
 3   price        378182 non-null  object
 4   promo_price  378397 non-null  object
 5   unit_price   378397 non-null  object
dtypes: object(6)
memory usage: 17.3+ MB

np.int64(0)

In [4]:
total_len = len(merged_df)
dot_pattern = r'\.'
print(f"over 2 dots: {(merged_df['unit_price'].str.count(dot_pattern) > 2).sum() / total_len * 100}")
print(f"over 1 dot: {(merged_df['unit_price'].str.count(dot_pattern) > 1).sum() / total_len * 100}")
print(f"exactly 1 dot: {(merged_df['unit_price'].str.count(dot_pattern) == 1).sum() / total_len * 100}")
print(f"no dots: {(merged_df['unit_price'].str.count(dot_pattern) == 0).sum() / total_len * 100}")

over 2 dots: 0.0
over 1 dot: 16.064816186272477
exactly 1 dot: 83.93518381372752
no dots: 0.0

In [5]:
mask_1_dot = merged_df['unit_price'].str.count(r'\.') == 1
merged_df.loc[mask_1_dot,:].sample(20)

,sku,name,desc,price,promo_price,unit_price
163603,IFX0041,"iFixit Screw Kit for MacBook Pro 13 ""/ 15"" / 17 """,Kit for lower housing screws MacBook Pro 13 in...,14.95,13.99,11.15
3626,WAC0055,Wacom Intuos Professional Accessory Kit,Intuos accessory kit.,24.9,22.99,19.54
174657,IKM0061,IK Multimedia iRig Changer Bluetooth BlueTurn ...,Backlit laptop changer pages and silent for iP...,85.39,69.99,69.99
20740,OWC0074,Mac OWC Memory 8GB 1066MHZ DDR3 SO-DIMM,8GB RAM Mac mini iMac MacBook and MacBook Pro ...,99.99,999.896,71.44
253452,PAC1877,expansion kit 525GB + SSD Crucial MX300 Datado...,SSD upgrade kit 525GB + Datadoubler for Mac mi...,266.65,2.045.844,190.73
187369,IFX0051,"Battery iFixit MacBook Air 11 ""Late 2010",Battery replacement Macbook 11 inches end 2010,96.99,719.902,71.99
204290,SAN0143,Sandisk Ultra 32GB USB Pen-Drive-C,32GB USB flash drive for Type C devices,15.99,13.99,13.89
14614,APP0482,Adapter Apple Lightning to SD Card Reader,Lightning connector adapter to SD card reader ...,35,330.003,27.26
251698,WAC0084-A,Open - Wacom Cintiq 13HD interactive pen displ...,Portable LED graphics tablet with pen Pro for ...,899.99,6.342.111,616.75
86791,NEA0014,Welcome Netatmo facial recognition camera,intelligent security camera with night vision ...,199,1.929.902,149.99
365895,OTT0190,"Otterbox iPad Defender Case 97 ""2017",Hard case with stand and screen protector for ...,89.99,56.99,56.99
360520,PAC2291,DS218J Synology NAS Server | 16TB (2x8TB) WD Red,2-bay NAS server basic to back domestic securi...,903.99,6.631.792,696.73
369552,SAT0074,Hub Satechi Type-C 3 USB ports - one port Ethe...,Satechi aluminum hub with 3 USB ports and one ...,34.99,289.899,19.99
251870,STA0049,Startech USB-C Adapter USB 3.1 Gigabit Etherne...,USB-C adapter cable (compatible with Thunderbo...,70.99,529.895,37.22
76681,DLL0012,"Dell U2414H Monitor 238 ""IPS Marco Slim",238 inch IPS Monitor Marco Slim.,269.99,2.127.483,239.99
275542,APP2037,Like new - Apple iPhone 16 GB Oro Rosa,Apple iPhone SE Free Refurbished 16GB Rose Gol...,489,2.503.309,300.33
46665,SAM0071,Samsung 1TB SSD 850 PRO,1TB SSD 3D VNAND.,479.99,425.004,427.49
357151,SPH0026,Sphero BB-9E Star Wars Robot,Smartoy BB-9E sphere droid from Star Wars to B...,169.99,1.399.897,142.49
365036,DJI0023,Spark DJI Drone Fly More Combo White,Drone cuadricóptero camera with integrated bat...,799,7.989.993,799.00
243612,PAC1558,SSD Crucial MX300 expansion kit 1TB + 16GB 160...,SSD upgrade kit 1TB + 16GB 1600MHz RAM for Mac...,5.653.092,4.675.839,469.99

In [6]:
mask_2_dots = merged_df['unit_price'].str.count(r'\.') > 1
merged_df.loc[mask_2_dots,:].sample(20)

,sku,name,desc,price,promo_price,unit_price
279644,PAC2006,Synology DS1517 + | 8GB RAM | 40TB (5x8TB) Sea...,NAS with 8GB RAM and 40TB for Mac and PC,27.187.885,20.069.629,2.075.24
320239,APP2130,"Apple iPad Pro 10.5 ""Wi-Fi 512GB Oro Rosa",New iPad Pro 512GB Wi-Fi,1119,1.085.001,1.096.00
62727,APP1942,"Apple MacBook Pro Retina 13 ""Core i7 3GHz | RA...",MacBook Pro 13-inch Retina Display i7 3GHz | 1...,2289,2.181.584,2.174.99
219318,TUC0280,Tucano SOTTILE ultraslim 8/7 Transparent iPhon...,transparent and flexible cover with 05mm thick...,7.9,69.902,1.741.00
299225,APP2269,"Apple MacBook Pro 13 ""Core i5 Touch Bar 33GHz ...",New MacBook Pro 13 inch Touch Bar 33 GHz Core ...,2869,26.970.041,2.671.59
327153,APP2238,"Apple iMac 21.5 ""Core i5 30GHz 4K Retina | 16G...","IMac desktop computer 215 inch 8GB RAM 1TB 5,4...",1739,16.520.045,1.739.00
303991,APP2278,"Apple MacBook Pro 13 ""Core i5 Touch Bar 31GHz ...",New MacBook Pro 13-inch Core i5 Touch Bar 31 G...,2239,21.270.046,2.109.00
153397,PAC1172,Synology DS416 Pack | WD 24TB Network,Synology DS416 + Pack 24TB (4x6TB) Network WD ...,1405.99,12.623.676,1.304.99
71667,APP1009,"Apple MacBook Pro Retina 15 ""i7 28 Ghz | RAM 1...",New MacBook Pro 15-inch Retina screen Core i7 ...,2809,26.690.047,2.143.79
320751,APP2137,"Apple iPad Pro 12.9 ""Wi-Fi 512GB Gold",New iPad Pro 512GB Wi-Fi,1289,12.520.015,1.263.00
319788,APP2120,"Apple iPad Pro 12.9 ""Wi-Fi + Cellular 256GB Sp...",New iPad Pro 256GB Wi-Fi,1229,11.920.013,1.204.00
283810,APP2244,"Apple iMac 27 ""Core i7 Retina 5K 42GHz | 8GB |...",IMac desktop computer 27 inch 5K Retina 8GB RA...,2605.59,24.750.042,2.429.79
120757,APP1198,"Apple iMac 27 ""Core i5 3.2GHz Retina 5K | 8GB ...",IMac desktop computer 27 inch 5K Retina 8GB RA...,2129,18.555.943,1.635.53
330193,APP2018,Apple Mac Pro 35GHz 6 cores | 16GB RAM | 256GB...,New Mac Pro with 16GB of RAM and two 6-core GP...,3455.59,31.990.041,3.220.59
57925,WAC0163,Wacom Cintiq Interactive Pen & Touch 27QHD Mac...,Professional graphics tablet touch screen with...,2549.9,22.139.975,1.999.99
310582,APP2084,"Apple MacBook Pro 13 ""Core i5 with Touch Bar 3...",New MacBook Pro 13 inch Touch Bar 31 GHz Core ...,2005.59,18.850.046,1.536.36
288750,PAC2118,"Apple iMac 27 ""Core i5 Retina 5K 38GHz | 16GB ...",IMac desktop computer 27 inch Retina 5K RAM 16...,3079,28.190.045,2.881.59
122196,PAC0926,"Apple iMac 27 ""Core i5 3.2GHz Retina 5K | 16GB...",IMac desktop computer 27 inch Retina 5K RAM 16...,2489,22.339.903,2.188.99
315535,APP2086,"Apple iMac 215 ""Core i5 2.3Ghz | 8GB RAM | 1TB...","IMac desktop computer 215 inch 8GB RAM 1TB 5,4...",1305.59,12.280.048,1.025.29
326683,APP2212,"Apple iMac 21.5 ""Core i5 34GHz 4K Retina | 32G...",PC 215 inch iMac RAM 32GB SSD 1TB PCle,3259,30.630.049,3.014.59

In [7]:
total_len = len(merged_df)
print(total_len)
print((merged_df['unit_price'].str.extract(r'\.(\d+)$')[0].str.len() == 2).sum())

33757
33757

In [8]:
# Fix unit_price format (remove extra dots for thousand separators)
merged_df['unit_fixed'] = merged_df['unit_price'].copy()
mask = merged_df['unit_price'].str.count(r'\.') > 1
merged_df.loc[mask, 'unit_fixed'] = merged_df.loc[mask, 'unit_price'].str.replace(r'\.', '', n=1, regex=True)
merged_df['unit_fixed'] = pd.to_numeric(merged_df['unit_fixed'])
print(merged_df['unit_fixed'].isna().sum())
merged_df.loc[mask, :].sample(10)

0

,sku,name,desc,price,promo_price,unit_price,unit_fixed
240793,WAC0215,"Wacom MobileStudio Pro 13 ""i5 128GB",Professional graphics tablet with 13-inch 128G...,1899.9,1786.99,1.835.59,1835.59
253162,PAC1874,"Apple iMac 27 ""Core i7 Retina 5K 4GHz | 16GB |...",IMac desktop computer 27 inch 5K Retina i7 4GH...,3769,34.449.898,3.398.99,3398.99
48917,APP1930,Apple Mac mini Core i7 3GHz | 16GB RAM | 1TB F...,Apple desktop Mac mini Core i7 3GHz | 16GB RAM...,2299,2.184.004,1.804.95,1804.95
329485,APP2387,"Apple Macbook Pro 13 ""Core i7 25GHz | 8GB | 12...",New MacBook Pro 13-inch Core i7 25GHz with 8GB...,1859,17.470.041,1.785.00,1785.00
320238,APP2130,"Apple iPad Pro 10.5 ""Wi-Fi 512GB Oro Rosa",New iPad Pro 512GB Wi-Fi,1119,1.085.001,1.052.31,1052.31
280277,PAC1956,Synology DS1817 + | 2GB RAM | 24TB (8x3TB) Sea...,NAS server with 2GB of RAM and 24TB for Mac an...,2098.81,17.267.462,1.691.41,1691.41
366614,APP2669,"Apple iMac Pro 27 ""8-core Xeon W 32GHz Inter |...",Pro iMac 27 inch screen Retina 5K and Intel Xe...,7179,67.480.042,6.974.26,6974.26
185727,APP1586,"Apple MacBook Air 13 ""i7 22 Ghz | 8GB RAM | 51...",laptop MacBook Air 13 inch i7 22GHz 8GB RAM 51...,1709,16.305.839,1.623.99,1623.99
355112,PAC2280,Synology DS918 + NAS Server | 16GB | 32TB (4x8...,NAS server of the Plus Series for companies se...,2208.71,17.213.678,1.887.37,1887.37
316487,APP2189,"Apple iMac 21.5 ""Core i5 2.3GHz | 16GB | 256GB...",PC 215 inch iMac RAM 16GB SSD with 256GB PCle,1779,16.720.046,1.696.59,1696.59

In [9]:
merged_df['unit_fixed'].nsmallest(10)
negative_unit_fixed_mask = merged_df['unit_fixed'] <= 0
merged_df.loc[negative_unit_fixed_mask, :].sort_values(by='unit_fixed', ascending=True)
# TODO: discuss with team how to handle zero prices

,sku,name,desc,price,promo_price,unit_price,unit_fixed
175398,APP1465,Spanish Keyboard Keyboard Magic Apple Mac (OEM),Spanish Keyboard Mac and Apple iPad Ultrathin ...,119,999.944,-119.00,-119.0
89,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,0.00,0.0
1807,OWC0007,OWC Data Doubler Optical Bay adapter Macbook /...,Tray SuperDrive replacement hard disk or SSD.,72.99,399.905,0.00,0.0
1117,HGD0007,"Henge Docks Docking Station MacBook Pro 13 """,Dock and support with multiple connections for...,69.99,699.864,0.00,0.0
3330,PAC0023,OWC Data Doubler Pack MacBook / MacBook Pro,Pack Replacement Superdrive for SSD / HDD + bo...,107.99,559.903,0.00,0.0
...,...,...,...,...,...,...,...
371104,BEL0311,Belkin iPhone Screen Protector 8 Plus / 7 OVR ...,Belkin Protector with Ultra InvisiGlass techno...,24.99,199.892,0.00,0.0
371637,MOP0112,Mophie Juice Pack Air Battery Case for iPhone ...,Mophie Battery Case for iPhone 2.420mAh 8 Plus...,99.95,299.899,0.00,0.0
375270,THU0057,Thule Subterra Case MacBook Air / Pro / Retina...,Waterproof Protective Case for MacBook Air / P...,49.99,43.99,0.00,0.0
375827,WAC0251,Wacom Intuos Graphics Tablet S Bluetooth Black,small-edge graphics tablet with Bluetooth inte...,99,949.898,0.00,0.0
377623,MMW0016,"My MW Case MacBook Pro 13 ""(Late 2016) Black",Avoid shock and damage to your MacBook Pro 13-...,29.99,20.99,0.00,0.0

In [10]:
negative_unit_fixed_mask = merged_df['unit_fixed'] < 0
merged_df.loc[negative_unit_fixed_mask, ['unit_price', 'unit_fixed']] *= -1
merged_df.isna().sum()

sku             0
name            0
desc            8
price          47
promo_price     0
unit_price      0
unit_fixed      0
dtype: int64

In [11]:
merged_df.isna().sum()
isna_mask = merged_df['price'].isna()
merged_df.loc[isna_mask, :]

,sku,name,desc,price,promo_price,unit_price,unit_fixed
1434,TWS0019,Twelve South MagicWand support Apple Magic Tra...,MagicWand for wireless keyboard and Magic Trac...,NaN,299.899,29.99,29.99
61408,CEL0007,Celly Wallet Case with removable cover Black i...,Case Book for iPhone 6 card case type.,NaN,128.998,12.90,12.90
61411,CEL0012,Celly Silicone Hard Shell iPhone 6 Blue,Hard Shell Silicone iPhone 6.,NaN,4.99,4.99,4.99
61580,CEL0015,Celly fur-lined Powerbank battery 4000mAh Black,Leather-wrapped External Battery 4000mAh for i...,NaN,239.895,23.03,23.03
61581,CEL0015,Celly fur-lined Powerbank battery 4000mAh Black,Leather-wrapped External Battery 4000mAh for i...,NaN,239.895,23.99,23.99
61595,CEL0023,Celly Ambo Luxury Leather Case + Case Gold iPh...,Cover and housing together with magnet for iPh...,NaN,329.894,32.99,32.99
118630,APP1197,"Apple iMac 21.5 ""Core i5 31 GHz Retina display...",Desktop Apple iMac 21.5 inch i5 31 GHz Retina ...,NaN,1305.59,1.598.99,1598.99
118631,APP1197,"Apple iMac 21.5 ""Core i5 31 GHz Retina display...",Desktop Apple iMac 21.5 inch i5 31 GHz Retina ...,NaN,1305.59,1.612.99,1612.99
118634,APP1197,"Apple iMac 21.5 ""Core i5 31 GHz Retina display...",Desktop Apple iMac 21.5 inch i5 31 GHz Retina ...,NaN,1305.59,1.385.94,1385.94
118647,APP1197,"Apple iMac 21.5 ""Core i5 31 GHz Retina display...",Desktop Apple iMac 21.5 inch i5 31 GHz Retina ...,NaN,1305.59,1.676.99,1676.99
118655,APP1197,"Apple iMac 21.5 ""Core i5 31 GHz Retina display...",Desktop Apple iMac 21.5 inch i5 31 GHz Retina ...,NaN,1305.59,1.333.05,1333.05
118718,APP1197,"Apple iMac 21.5 ""Core i5 31 GHz Retina display...",Desktop Apple iMac 21.5 inch i5 31 GHz Retina ...,NaN,1305.59,1.429.00,1429.00
118719,APP1197,"Apple iMac 21.5 ""Core i5 31 GHz Retina display...",Desktop Apple iMac 21.5 inch i5 31 GHz Retina ...,NaN,1305.59,1.305.59,1305.59
182600,CEL0028,Celly Swing Arm button selfie with Bluetooth B...,selfie extendable arm for iPhone,NaN,59.895,9.99,9.99
182604,CEL0028,Celly Swing Arm button selfie with Bluetooth B...,selfie extendable arm for iPhone,NaN,59.895,10.99,10.99
182614,CEL0028,Celly Swing Arm button selfie with Bluetooth B...,selfie extendable arm for iPhone,NaN,59.895,10.44,10.44
182615,CEL0028,Celly Swing Arm button selfie with Bluetooth B...,selfie extendable arm for iPhone,NaN,59.895,9.89,9.89
182616,CEL0028,Celly Swing Arm button selfie with Bluetooth B...,selfie extendable arm for iPhone,NaN,59.895,6.99,6.99
182617,CEL0028,Celly Swing Arm button selfie with Bluetooth B...,selfie extendable arm for iPhone,NaN,59.895,8.79,8.79
182621,CEL0028,Celly Swing Arm button selfie with Bluetooth B...,selfie extendable arm for iPhone,NaN,59.895,5.99,5.99
182622,CEL0029,Celly extensible arm selfie with Bluetooth but...,selfie extendable arm for iPhone,NaN,69.902,6.99,6.99
182623,CEL0030,Celly Smart Drive Housing + clip car holder iP...,Magnetic holder for car Compatible iPhone 5 5s...,NaN,89.903,8.99,8.99
182810,CEL0043,Celly Fluor Case iPhone 6 / 6S Pink / Transparent,Protective Case for iPhone 6 and 6s,NaN,99.898,9.99,9.99
182814,CEL0044,Celly iPhone Case Fluor 6s / 6 Yellow / Transp...,protective case with two colors for iPhone 6 a...,NaN,79.896,9.99,9.99
182817,CEL0044,Celly iPhone Case Fluor 6s / 6 Yellow / Transp...,protective case with two colors for iPhone 6 a...,NaN,79.896,8.99,8.99
182827,CEL0044,Celly iPhone Case Fluor 6s / 6 Yellow / Transp...,protective case with two colors for iPhone 6 a...,NaN,79.896,8.09,8.09
182834,CEL0044,Celly iPhone Case Fluor 6s / 6 Yellow / Transp...,protective case with two colors for iPhone 6 a...,NaN,79.896,7.99,7.99
182878,CEL0033,"Celly Waterproof iPad Case / Air / Pro 97 ""Tra...",waterproof protective case for iPad bag format...,NaN,149.895,14.99,14.99
182883,CEL0036,Celly Adapter Micro USB connector to Lightning...,Micro USB adapter cable connection Lightning,NaN,89.903,8.99,8.99
182886,CEL0051,Celly 4000mAh Battery Power Bank Aluminum Dorado,external battery capacity 4000mAh output volta...,NaN,129.894,24.99,24.99
182888,CEL0051,Celly 4000mAh Battery Power Bank Aluminum Dorado,external battery capacity 4000mAh output volta...,NaN,129.894,21.24,21.24
182889,CEL0052,Celly 4000mAh Battery Power Bank Aluminum Silver,external battery capacity 4000mAh output volta...,NaN,199.892,24.99,24.99
182892,CEL0052,Celly 4000mAh Battery Power Bank Aluminum Silver,external battery capacity 4000mAh output volta...,NaN,199.892,22.49,22.49
182896,CEL0052,Celly 4000mAh Battery Power Bank Aluminum Silver,external battery capacity 4000mAh output volta...,NaN,199.892,19.99,19.99
182897,CEL0055,Celly IceCube Case iPhone 6 / 6S White,Anti-shock Case for iPhone 6 / 6S,NaN,119.899,11.99,11.99
182898,CEL0056,IceCube Celly iPhone Case 6 / 6s Amarillo,Anti-shock Case for iPhone 6 / 6S,NaN,119.899,11.99,11.99
182899,CEL0058,Celly IceCube Case iPhone 6 / 6S Plus Rosa,Anti-shock Case for iPhone 6 / 6S Plus,NaN,99.898,9.99,9.99
182901,CEL0058,Celly IceCube Case iPhone 6 / 6S Plus Rosa,Anti-shock Case for iPhone 6 / 6S Plus,NaN,99.898,8.26,8.26
182902,CEL0059,Celly IceCube Case iPhone 6 / 6S Plus White,Anti-shock Case for iPhone 6 / 6S Plus,NaN,119.899,9.99,9.99
182903,CEL0059,Celly IceCube Case iPhone 6 / 6S Plus White,Anti-shock Case for iPhone 6 / 6S Plus,NaN,119.899,11.99,11.99
182913,CEL0041,Celly iPhone 6S Plus Frost Case Black,Ultra Thin Case for iPhone 6 and 6s,NaN,89.903,8.54,8.54
182914,CEL0041,Celly iPhone 6S Plus Frost Case Black,Ultra Thin Case for iPhone 6 and 6s,NaN,89.903,8.99,8.99
182918,CEL0045,Laser Case Celly iPhone 6 / 6S Dark Silver,Protective Case for iPhone 6 and 6s,NaN,149.895,14.99,14.99
182919,CEL0046,Laser Case Celly iPhone 6 / 6S Clear Silver,Protective Case for iPhone 6 and 6s,NaN,149.895,14.99,14.99
182961,CEL0048,Laser Case Celly iPhone 6 / 6S Rosa,Protective Case for iPhone 6 and 6s,NaN,149.895,14.99,14.99
182985,CEL0037,Celly Frost Cover for iPhone 6 / 6S Black,Ultra Thin Case for iPhone 6 and 6s,NaN,99.898,9.99,9.99
182990,CEL0037,Celly Frost Cover for iPhone 6 / 6S Black,Ultra Thin Case for iPhone 6 and 6s,NaN,99.898,9.49,9.49

In [12]:
merged_df["price"] = merged_df["price"].fillna(merged_df["unit_fixed"])
merged_df.isna().sum()

sku            0
name           0
desc           8
price          0
promo_price    0
unit_price     0
unit_fixed     0
dtype: int64

In [13]:
merged_df['price_unit_fixed_ratio'] = pd.to_numeric(merged_df['price'], errors='coerce') / merged_df['unit_fixed']
merged_df[['price', 'unit_price', 'unit_fixed', 'price_unit_fixed_ratio']].nsmallest(10, 'price_unit_fixed_ratio')

         price  unit_price  unit_fixed  price_unit_fixed_ratio
43022      179  159.989.83   159989.83                0.001119
219318     7.9    1.741.00     1741.00                0.004538
209902    9.99      500.00      500.00                0.019980
18628    49.99    1.967.61     1967.61                0.025406
209903    9.99      377.03      377.03                0.026497
348027   24.95      810.00      810.00                0.030802
194101    7.99       24.95       24.95                0.320240
261700  109.99      239.99      239.99                0.458311
332846   74.99      135.99      135.99                0.551438
332860   74.99      135.99      135.99                0.551438

In [14]:
merged_df[['price', 'unit_price', 'unit_fixed', 'price_unit_fixed_ratio']].sort_values(by='price_unit_fixed_ratio', ascending=False).tail(100)
merged_df[(merged_df['price_unit_fixed_ratio'] > 0) & (merged_df['unit_fixed'] > 0)][['price', 'unit_price', 'unit_fixed', 'price_unit_fixed_ratio']].sort_values(by='price_unit_fixed_ratio', ascending=False).head(1000)
# TODO: discuss with team how to handle extreme price ratios

        price unit_price  unit_fixed  price_unit_fixed_ratio
173340  99.99       0.01        0.01             9999.000000
18626   49.99       0.01        0.01             4999.000000
18578   19.99       0.01        0.01             1999.000000
366618   7179       6.59        6.59             1089.377845
343702   1089       1.22        1.22              892.622951
...       ...        ...         ...                     ...
75821   24.99       9.99        9.99                2.501502
209998  24.99       9.99        9.99                2.501502
75186   24.99       9.99        9.99                2.501502
39656   24.99       9.99        9.99                2.501502
45826   24.99       9.99        9.99                2.501502

[1000 rows x 4 columns]

In [15]:
merged_df['reliable_price_and_unit'] = (merged_df['price_unit_fixed_ratio'] >= 0.4) & (merged_df['price_unit_fixed_ratio'] <= 5)
merged_df['reliable_price_and_unit'].value_counts(normalize=True).to_frame()

                         proportion
reliable_price_and_unit
True                       0.962082
False                      0.037918

In [16]:
merged_df['price_dots'] = merged_df['price'].str.count(r'\.')
merged_df['price_dots'].value_counts().to_frame().sort_values(by='count',ascending=False)

            count
price_dots
1.0         21350
0.0         11737
2.0           623

In [17]:
merged_df.groupby('price_dots')['reliable_price_and_unit'].value_counts().to_frame()

                                    count
price_dots reliable_price_and_unit
0.0        True                     11595
           False                      142
1.0        True                     20835
           False                      515
2.0        False                      623

In [18]:
merged_df.groupby('price_dots')['reliable_price_and_unit'].value_counts(normalize=True).to_frame() * 100

                                    proportion
price_dots reliable_price_and_unit
0.0        True                      98.790151
           False                      1.209849
1.0        True                      97.587822
           False                      2.412178
2.0        False                    100.000000

In [19]:
mask = merged_df['price_dots'] == 2
merged_df.loc[mask,:].sample(10)

,sku,name,desc,price,promo_price,unit_price,unit_fixed,price_unit_fixed_ratio,reliable_price_and_unit,price_dots
249599,QNA0184,QNAP TS-EC2480U Xeon E3-1246 R2 Server Nas | 4...,Rackmount NAS 24 bays 4GB RAM with 4 USB 3.0 4...,50.799.902,50.799.902,4.716.99,4716.99,NaN,False,2.0
279696,PAC2315,Synology DS1517 + NAS Server | 16GB RAM | 60TB...,NAS server with 16GB of RAM and 60TB for Mac a...,34.847.892,28.269.121,2.968.91,2968.91,NaN,False,2.0
59291,PAC0784,Samsung SSD 850 expansion kit EVO 500GB + 16GB...,Expansion kit SSD 500GB + 16GB 1600Mhz RAM + D...,4.519.592,353.585,358.12,358.12,NaN,False,2.0
243562,PAC1557,Crucial SSD expansion kit MX300 525GB + 16GB 1...,SSD upgrade kit 525GB + 16GB 1600MHz RAM for M...,4.306.292,3.635.844,349.99,349.99,NaN,False,2.0
225149,PAC1531,Pack Elgato Eve Weather Sensor + Room Interior...,Two temperature and humidity sensors air quali...,1.299.431,1.139.905,110.19,110.19,NaN,False,2.0
280350,PAC1979,Synology DS1817 + | 16GB RAM | 16TB (8x2TB) Se...,NAS server with 16GB of RAM and 16TB for Mac a...,20.377.892,17.537.462,1.683.04,1683.04,NaN,False,2.0
199412,SAN0139,"SanDisk SSD 480GB Plus 25 ""SATA 6Gb / s",Hard SSD 480GB 25 inches,1.499.892,1.565.837,146.99,146.99,NaN,False,2.0
199440,SAN0139,"SanDisk SSD 480GB Plus 25 ""SATA 6Gb / s",Hard SSD 480GB 25 inches,1.499.892,1.565.837,156.58,156.58,NaN,False,2.0
243627,PAC1559,Enlargement Kit 2TB SSD Crucial MX300 + RAM + ...,SSD upgrade kit 2TB + 16GB 1600MHz RAM for Mac...,8.525.192,698.585,747.58,747.58,NaN,False,2.0
280317,PAC1969,Synology DS1817 + | 8GB RAM | 32TB (8x4TB) Sea...,NAS with 8GB RAM and 32TB for Mac and PC,25.317.885,19.757.461,52.76,52.76,NaN,False,2.0

In [20]:
merged_df['price_fixed'] = pd.to_numeric(merged_df['price'], errors='coerce')
mask_2plus_dots = merged_df['price_dots'] > 1
temp_mask = merged_df.loc[mask_2plus_dots, 'price'].str.replace(r'\.', '', n=1, regex=True)
merged_df.loc[mask_2plus_dots, 'price_fixed'] = pd.to_numeric(temp_mask, errors='coerce') / 10
merged_df['price_fixed'] = merged_df['price_fixed'].round(2)
merged_df.sample(10)

,sku,name,desc,price,promo_price,unit_price,unit_fixed,price_unit_fixed_ratio,reliable_price_and_unit,price_dots,price_fixed
197518,SYN0146,Synology NAS Server DS416Play Mac and PC,4-bay NAS served 1GB RAM transcodifiación 4K f...,434.99,4.339.895,387.99,387.99,1.121137,True,1.0,434.99
85442,ELG0038,Elgato Eve Wireless Weather Sensor External,Pressure sensor air temperature and humidity f...,49.95,479.898,41.31,41.31,1.209150,True,1.0,49.95
261710,REP0323,Full screen repair iPhone 6s Plus,Repair service including parts and labor for i...,109.99,109.99,143.99,143.99,0.763872,True,1.0,109.99
190143,APP1569,Apple Leather Case iPhone Case Midnight Blue,And microfiber leather case for iPhone Premium SE,45,420.003,43.00,43.00,1.046512,True,0.0,45.00
73686,APP1043,Apple USB-C Multiport Digital AV Adapter,C USB-HDMI adapter for MacBook high resolution.,79,749.994,47.49,47.49,1.663508,True,0.0,79.00
152544,OTT0126,Otterbox iPad Mini Folio Symmetry 1/2/3 White,Protective Case for iPad Mini Folio format 1/2...,79.99,549.897,49.49,49.49,1.616286,True,1.0,79.99
68569,SAM0085,"U32D970Q Samsung Monitor 32 ""4K UHD",Monitor LED 32 inches in height and angle adju...,1299,11.819.885,1.181.99,1181.99,1.098994,True,0.0,1299.00
221121,KEN0245,Kensington USB Dock SD1500-C to USB 3.0 / HDMI...,Laptop Dock with 4 ports and 4K video output c...,105.99,899.901,85.49,85.49,1.239794,True,1.0,105.99
221407,WAC0205,Wacom Bamboo Stylus Duo 4 Blue,digital pen and pencil with built-in triangula...,29.9,169.884,24.99,24.99,1.196479,True,1.0,29.90
219453,TUC0293,Tucano DUEINUNO iPhone Case 2 in 1 8 Plus / 7 ...,Case 2 in 1 with removable rear cover and anti...,29.9,199.904,24.99,24.99,1.196479,True,1.0,29.90

In [21]:
merged_df['price_unit_fixed_ratio_new'] = merged_df['price_fixed'] / merged_df['unit_fixed']
merged_df['reliable_price_and_unit_new'] = (merged_df['price_unit_fixed_ratio_new'] >= 0.4) & (merged_df['price_unit_fixed_ratio_new'] <= 5)
merged_df.groupby('price_dots')['reliable_price_and_unit_new'].value_counts(normalize=True).to_frame() * 100

                                        proportion
price_dots reliable_price_and_unit_new
0.0        True                          98.790151
           False                          1.209849
1.0        True                          97.587822
           False                          2.412178
2.0        True                          81.701445
           False                         18.298555

In [22]:
merged_df[['price', 'price_fixed', 'unit_price', 'unit_fixed', 'price_unit_fixed_ratio', 'price_unit_fixed_ratio_new']].nsmallest(10, 'price_unit_fixed_ratio_new')

,price,price_fixed,unit_price,unit_fixed,price_unit_fixed_ratio,price_unit_fixed_ratio_new
43022,179,179.00,159.989.83,159989.83,0.001119,0.001119
219318,7.9,7.90,1.741.00,1741.00,0.004538,0.004538
209902,9.99,9.99,500.00,500.00,0.019980,0.019980
18628,49.99,49.99,1.967.61,1967.61,0.025406,0.025406
209903,9.99,9.99,377.03,377.03,0.026497,0.026497
348027,24.95,24.95,810.00,810.00,0.030802,0.030802
194101,7.99,7.99,24.95,24.95,0.320240,0.320240
261700,109.99,109.99,239.99,239.99,0.458311,0.458311
332846,74.99,74.99,135.99,135.99,0.551438,0.551438
332860,74.99,74.99,135.99,135.99,0.551438,0.551438

In [23]:
mask_2plus_dots = merged_df['price_dots'] > 1
merged_df.loc[mask_2plus_dots, :].sample(10)

,sku,name,desc,price,promo_price,unit_price,unit_fixed,price_unit_fixed_ratio,reliable_price_and_unit,price_dots,price_fixed,price_unit_fixed_ratio_new,reliable_price_and_unit_new
346624,APP2491,Apple iPhone X 256GB Space Gray,New Apple iPhone X 256GB Free Space Gray,13.290.011,13.290.011,1.329.00,1329.00,NaN,False,2.0,1329.00,1.000000,True
249606,QNA0184,QNAP TS-EC2480U Xeon E3-1246 R2 Server Nas | 4...,Rackmount NAS 24 bays 4GB RAM with 4 USB 3.0 4...,50.799.902,50.799.902,5.079.99,5079.99,NaN,False,2.0,5079.99,1.000000,True
279634,PAC2002,Synology DS1517 + | 8GB RAM | 10TB (5x2TB) Sea...,NAS server with 8GB RAM and 10TB for Mac and PC,14.687.885,12.859.626,1.319.96,1319.96,NaN,False,2.0,1468.79,1.112753,True
261552,REP0346,Load Connector Repair iPad 4,Repair service including parts and labor for i...,6.999.003,69.99,69.99,69.99,NaN,False,2.0,699.90,10.000000,False
280350,PAC1979,Synology DS1817 + | 16GB RAM | 16TB (8x2TB) Se...,NAS server with 16GB of RAM and 16TB for Mac a...,20.377.892,17.537.462,1.683.04,1683.04,NaN,False,2.0,2037.79,1.210779,True
60011,PAC0745,Samsung EVO SSD expansion kit 500GB + 16GB 160...,SSD upgrade kit 500GB + 16GB 1600Mhz RAM for M...,3.989.592,3.365.845,356.58,356.58,NaN,False,2.0,398.96,1.118851,True
280321,PAC1971,Synology DS1817 + | 8GB RAM | 64TB (8x8TB) Sea...,NAS with 8GB RAM and 64TB for Mac and PC,39.717.885,28.397.466,2.973.88,2973.88,NaN,False,2.0,3971.79,1.335558,True
49736,PAC0549,Kingston V300 SSD expansion kit 120GB + Datado...,120GB + Datadoubler expansion for Late 2008 Ma...,1.699.795,1.325.845,132.58,132.58,NaN,False,2.0,169.98,1.282094,True
345495,APP2493,Apple TV 32GB 4K,Apple multimedia player with 4K resolution and...,1.990.002,194,194.00,194.00,NaN,False,2.0,199.00,1.025773,True
157446,KAN0022-A,Open - Kanex adapter Thunderbolt to Ethernet +...,Gigabyte Thunderbolt adapter cable to Ethernet...,1.199.897,903.296,86.68,86.68,NaN,False,2.0,119.99,1.384287,True

In [24]:
merged_df['promo_price_dots'] = merged_df['promo_price'].str.count(r'\.')
merged_df['promo_price_dots'].value_counts().to_frame().sort_values(by='count',ascending=False)

                  count
promo_price_dots
1                 17190
2                 16116
0                   451

In [25]:
merged_df['promo_price_fixed'] = pd.to_numeric(merged_df['promo_price'], errors='coerce')
mask_2plus_dots = merged_df['promo_price_dots'] > 1
temp_mask = merged_df.loc[mask_2plus_dots, 'promo_price'].str.replace(r'\.', '', n=1, regex=True)
merged_df.loc[mask_2plus_dots, 'promo_price_fixed'] = pd.to_numeric(temp_mask, errors='coerce') / 10
merged_df['promo_price_fixed'] = merged_df['promo_price_fixed'].round(2)
merged_df.sample(10)

,sku,name,desc,price,promo_price,unit_price,unit_fixed,price_unit_fixed_ratio,reliable_price_and_unit,price_dots,price_fixed,price_unit_fixed_ratio_new,reliable_price_and_unit_new,promo_price_dots,promo_price_fixed
61340,MBI0010,Mobility Lab Mouse White Apple,Mouse pad as Apple logo.,19.9,169.896,15.80,15.80,1.259494,True,1.0,19.90,1.259494,True,1,169.90
180368,APP1531,"Apple iPad Silicone Case Pro 97 ""Piedra",Silicone light cover and soft touch for iPad P...,79,46.99,49.99,49.99,1.580316,True,0.0,79.00,1.580316,True,1,46.99
262469,SXA0031,SecurityXtra One Security Support adjustable i...,Adjustable desk stand with safety lock for iPa...,199.99,1.299.903,159.00,159.00,1.257799,True,1.0,199.99,1.257799,True,2,129.99
339479,PUR0156,Pure Nude X 03mm Black iPhone Case,Ultra-thin protection for your iPhone X,19.95,189.897,16.99,16.99,1.174220,True,1.0,19.95,1.174220,True,1,189.90
264027,APP1967,Apple iPhone SE 128GB Silver,New iPhone screen 4-inch 128 GB free.,529,4.689.996,530.33,530.33,0.997492,True,0.0,529.00,0.997492,True,2,469.00
175278,PAC1381,Pack QNAP TS-228 | WD 6TB Network,NAS + 6TB (2x3TB) WD Network for Mac and PC.,398.99,3.451.791,346.18,346.18,1.152551,True,1.0,398.99,1.152551,True,2,345.18
363337,TRA0049,Transcend JetDrive PCIe SSD 820 480GB,480GB SSD expansion for Macbook Pro Retina Mac...,412.99,3.665.816,377.86,377.86,1.092971,True,1.0,412.99,1.092971,True,2,366.58
334001,DRO0031,5D3 Drobo 5-bay DAS RAID Thunderbolt 3,Mac and PC system RAID 5-bay Thunderbolt 3,799,723.989,628.09,628.09,1.272111,True,0.0,799.00,1.272111,True,1,723.99
289467,PAC2113,"Apple iMac 27 ""Core i7 Retina 5K 42GHz | 32GB ...",IMac desktop computer 27 inch Retina 5K RAM 32...,3679,32.610.045,6.59,6.59,558.270106,False,0.0,3679.00,558.270106,False,2,3261.00
80758,IHE0016,iHealth Ismart Alarm Command for home,Command to activate and deactivate alarm range...,24.95,249.865,24.99,24.99,0.998399,True,1.0,24.95,0.998399,True,1,249.86

In [26]:
merged_df['promo_price_to_unit_price_ratio'] = merged_df['promo_price_fixed'] / merged_df['unit_fixed']
merged_df['reliable_promo_price_to_unit_price'] = (merged_df['promo_price_to_unit_price_ratio'] >= 0.4) & (merged_df['promo_price_to_unit_price_ratio'] <= 5)
merged_df.groupby('promo_price_dots')['reliable_promo_price_to_unit_price'].value_counts(normalize=True).to_frame() * 100

                                                     proportion
promo_price_dots reliable_promo_price_to_unit_price
0                True                                 98.447894
                 False                                 1.552106
1                False                                78.126818
                 True                                 21.873182
2                True                                 95.321420
                 False                                 4.678580

In [27]:
merged_df.loc[
    merged_df["reliable_promo_price_to_unit_price"] == 0,
    [
        "price",
        "price_fixed",
        "promo_price",
        "promo_price_fixed",
        "unit_price",
        "unit_fixed",
    ],
].sample(10)

,price,price_fixed,promo_price,promo_price_fixed,unit_price,unit_fixed
69415,32.99,32.99,329.894,329.89,32.05,32.05
603,45,45.00,420.003,420.00,45.00,45.00
347505,24.95,24.95,189.897,189.90,18.04,18.04
229571,49.99,49.99,469.904,469.90,42.29,42.29
73706,79,79.00,749.994,749.99,37.49,37.49
217564,45,45.00,370.006,370.01,41.99,41.99
188472,45.9,45.90,232.804,232.80,25.64,25.64
16431,92.99,92.99,929.897,929.90,62.99,62.99
348005,24.95,24.95,199.904,199.90,21.84,21.84
222131,59,59.00,479.995,480.00,54.99,54.99

In [28]:
merged_df['promo_digits_after_dot'] = merged_df['promo_price'].str.extract(r'\.(\d+)$')[0].str.len()
merged_df['promo_digits_after_dot'].value_counts().to_frame().sort_values(by='promo_digits_after_dot', ascending=False)

                        count
promo_digits_after_dot
3.0                     31369
2.0                      1864
1.0                        73

In [29]:
merged_df.loc[
    (merged_df["reliable_promo_price_to_unit_price"] == 0) & (merged_df['promo_digits_after_dot'] == 3),
    [
        "price",
        "price_fixed",
        "promo_price",
        "promo_price_fixed",
        "unit_price",
        "unit_fixed",
        "promo_price_to_unit_price_ratio"
    ],
]

,price,price_fixed,promo_price,promo_price_fixed,unit_price,unit_fixed,promo_price_to_unit_price_ratio
0,59.99,59.99,499.899,499.90,54.99,54.99,9.090744
1,59.99,59.99,499.899,499.90,49.99,49.99,10.000000
20,59.99,59.99,499.899,499.90,49.49,49.49,10.101031
21,59.99,59.99,499.899,499.90,42.99,42.99,11.628286
39,59.99,59.99,499.899,499.90,44.99,44.99,11.111358
...,...,...,...,...,...,...,...
375887,29.99,29.99,199.904,199.90,19.99,19.99,10.000000
375893,24.95,24.95,137.685,137.68,13.77,13.77,9.998548
375911,65.99,65.99,599.906,599.91,59.99,59.99,10.000167
375915,89,89.00,799.895,799.90,69.99,69.99,11.428776
375916,89,89.00,799.895,799.90,79.99,79.99,10.000000

In [30]:
digits_mask = (merged_df["promo_price_dots"] == 1) & (
    merged_df["promo_digits_after_dot"] == 3
)
merged_df.loc[
    digits_mask, ["price", "price_fixed", "promo_price", "promo_price_fixed", 'unit_price', 'unit_fixed']].sample(10)

,price,price_fixed,promo_price,promo_price_fixed,unit_price,unit_fixed
205672,19.99,19.99,200.001,200.00,18.04,18.04
365138,109.99,109.99,909.896,909.90,0.00,0.00
153578,69,69.00,569.995,570.00,65.55,65.55
67436,87.98,87.98,849.904,849.90,67.44,67.44
178026,129,129.00,895.945,895.94,91.19,91.19
201485,39.99,39.99,279.897,279.90,29.74,29.74
330946,69,69.00,369.899,369.90,58.50,58.50
260336,39.95,39.95,399.905,399.90,39.99,39.99
152545,79.99,79.99,549.897,549.90,54.99,54.99
73539,79,79.00,749.994,749.99,48.76,48.76

In [31]:
merged_df.loc[digits_mask, 'promo_price_fixed'] = merged_df.loc[digits_mask, 'promo_price_fixed'] / 10

In [32]:
merged_df['promo_price_to_unit_ratio'] = merged_df['promo_price_fixed'] / merged_df['unit_fixed']
merged_df['reliable_promo_price_to_unit_price'] = (merged_df['promo_price_to_unit_ratio'] >= 0.4) & (merged_df['promo_price_to_unit_ratio'] <= 5)
merged_df.groupby('promo_price_dots')['reliable_promo_price_to_unit_price'].value_counts(normalize=True).to_frame() * 100

                                                     proportion
promo_price_dots reliable_promo_price_to_unit_price
0                True                                 98.447894
                 False                                 1.552106
1                True                                 88.208261
                 False                                11.791739
2                True                                 95.321420
                 False                                 4.678580

In [33]:
digits_mask = (merged_df["promo_price_dots"] == 2) & (
    merged_df["promo_digits_after_dot"] == 3) & (merged_df["reliable_promo_price_to_unit_price"] == 0)
merged_df.loc[
    digits_mask, ["price", "price_fixed", "promo_price", "promo_price_fixed", 'unit_price', 'unit_fixed']].sample(10)

,price,price_fixed,promo_price,promo_price_fixed,unit_price,unit_fixed
48464,1339,1339.00,1.272.004,127.20,1.291.59,1291.59
361140,399,399.00,3.758.272,375.83,0.00,0.00
230477,2239,2239.00,2.065.591,206.56,2.237.99,2237.99
21955,224.99,224.99,1.999.899,199.99,0.00,0.00
230488,2239,2239.00,2.065.591,206.56,2.059.00,2059.00
364531,399,399.00,3.989.999,399.00,0.00,0.00
308891,3349,3349.00,3.148.005,314.80,3.097.59,3097.59
351031,399,399.00,3.909.994,391.00,0.00,0.00
318843,3999,3999.00,3.719.004,371.90,3.805.59,3805.59
128921,2329,2329.00,2.189.005,218.90,2.219.14,2219.14

In [34]:
reliable_df = merged_df[
    (merged_df['reliable_price_and_unit_new'] == True) & 
    (merged_df['reliable_promo_price_to_unit_price'] == True)
].copy()

print(f"Original data: {len(merged_df):,} rows")
print(f"After cleaning (reliable only): {len(reliable_df):,} rows")
print(f"Removed: {len(merged_df) - len(reliable_df):,} rows")
print(f"\nPercentage distribution:")
print(f"  Reliable: {len(reliable_df) / len(merged_df) * 100:.2f}%")
print(f"  Unreliable: {(len(merged_df) - len(reliable_df)) / len(merged_df) * 100:.2f}%")

Original data: 33,757 rows
After cleaning (reliable only): 30,602 rows
Removed: 3,155 rows

Percentage distribution:
  Reliable: 90.65%
  Unreliable: 9.35%